<div class="body-part">
  <div  fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="row" fxFlex.xs="95">
    <div class="imageContainer" fxLayout="column">
      <img style="height:40%; width: 100%; margin-left: 30%; " src="../../../assets/2919600.png">
     </div>
     <div class="contactDetails" >

        <div fxLayout="column" class="contactName" fxLayoutAlign="center start" >
          <h1 class ="contactView">ContactId  : {{contactData.userId}}</h1>
          <h2 class ="contactView">Name  : {{contactData.userName}}</h2>
          <h2 class ="contactView">Age  : {{contactData.age}}</h2>
          <h2 class ="contactView">Gender  : {{contactData.gender}}</h2>
          <h2 class ="contactView">Department  : {{contactData.department}}</h2>
          <h2 class ="contactView">ContactId  : {{contactData.userName}}</h2>
          <h2 class ="contactView">Phone  : {{contactData.phone}}</h2>
          <h2 class ="contactView">EmailId  : {{contactData.email}}</h2>
          <h2 class ="contactView">Phone  : {{contactData.phone}}</h2>

        </div>

    </div>
  </div>


</div>
