 <!-- <div class="bd"  fxLayout="row wrap"   fxLayoutAlign="center center" >
    <div class ="container" *ngFor = "let contacts of contactList" fxLayout.sm="column" fxFlex.xs="50">

      <div class="bookname" fxLayoutAlign="center center">
        <h1>{{contacts.userName}}</h1>
     </div>
     <div fxLayoutAlign="center center">
      <img  class="img" src="../../../assets/2919600.png" style="height: 70%;; width:60%;" (click)="view(contacts)" >

    </div>
    <div fxLayoutAlign="center center">
      <button class="btn">
        <img src="../../../assets/5179190.png" style="height: 50%;; width:50%;" (click)="addContacts(contacts)" >
       </button>

       <button class="btn">
        <img src="../../../assets/6096937.png" style="height: 50%;; width:50%;" (click)="deleteContacts(contacts)">
       </button>
      </div>
    </div> -->
<div>
   <app-display [details]="contactList"></app-display>
  </div>



  <!-- <div fxLayout="row wrap" gap="5%" fxLayoutAlign="center center" fxLayout.xs="50" fxLayout.sm="column" > -->


<!-- fxLayout.xs="row" fxLayout.sm="row" -->

  <!-- <div class="image" fxLayoutAlign="center center" >
        <img src="../../../assets/Image 11.png" style="height: 60%; width: 50%;">
    </div> -->
